@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 auto;
    padding: 0 auto;
box-sizing: border-box;
font-family: "raleway", sans-serif
}
 
body{
text-align: center;
background-color: #000000;
}
h1,h3{
color: #fc0fc0;
}

h2,p{
    color: #fff
}

